body
{
<<<<<<< HEAD
    background-color:black;
}



h1
{
    background-color: black;
    margin-top:-10%;
    color:white;
    font-size: 100px;
    font-style: italic;
    
}
#logo
{
    background-color: black;
    margin-top: 50px; 
    width: 200px;
    height: 200px
}
div a
{
    text-decoration: none;
    color: white;

=======

    background-image: url('images/resources/queenstown-late-night.jpg');
    background-size: 100%;

}

#title
{
    color:darkblue;
    font-size: 80px;
    font-style: italic;
    text-decoration-line: underline;
  
}



#navigation{

    display: flex;
  
    
>>>>>>> 21cf82e208cb4b64594fc394154d10197921dacb
}

#buttons_container{

<<<<<<< HEAD
    position: relative;
    font-size: 5vh;
    transform: translateX(-50%);
    left:50%;
    width: max-content;

}

#buttons_container a{

    padding: 4vh;

}
#png
{
    margin-top:05%;
    width: 99%;
    height: 600px;
}
h2
{
    margin-top: -30%;
    font-size: 7vh;      
    color: white; 
}
#me
{
    color: white;
    font-size: 4vh;

}
#jpg
{
    margin-top: 10%;
    width: 99%;
    height: 650px;
}
h3
{
    margin-top:-33%;
  color:black;
  font-size: 7vh;
}
#try
{
    font-size: 4vh;
    color:white;
}
#jbl
{
    margin-top: 20%;
    width: 99%;
    height: 700px;
}
h4
{
    margin-top: -35%;
    color: white;
    font-size: 5vh;
}
#pen
{
    font-size: 4vh;
    color: white;
}
#images
 {
     margin-top:05% ;
     width:50%;
     height:300px ;
 }
=======
    position: absolute;
    right: 5vh;
    margin-top: 09Vh;

    transform: translateY(-50%);

    height: max-content;
   

    font-size: 5vh;

}

#logo{

 margin-top: 50px; 
 width: 120px;
 height: 110px
 
}

#about
{
    position: relative;

    margin-top: 10%;
    margin-left: -20%;
   font-size: 5vh;
   font-style: oblique;
}

div a 
{
    text-decoration: none;
    color:darkblue;
}


#images{

    width: 50vh;
    height: 50vh;

}
p
  {
    color: white;
    font-style: unset;
    margin-top: 35vh;
    margin-left: -11vw;
    font-size: 03vh;
    }
#pictuer
{
    color:darkblue;
    font-size: 40px;
    font-style: initial;
    
}
#gallery 
{
    background: none;
    

}
#container_image_3{

    position: absolute;
    left: 0;
    top: 140%;
    
    height: 100%;
    width: 100%;

}
#continue
{   
    
 position: absolute;
 background-color: black;
 margin-top: 40%;
 font-size: 40px;
 margin-right: 900px;
 width: max-content;
 height: max-content;
}
>>>>>>> 21cf82e208cb4b64594fc394154d10197921dacb
