body
{
    background-color: black;
}



h1
{
    background-color: black;
    margin-top:-10%;
    color:white;
    font-size: 100px;
    font-style: italic;
    
}
#logo
{
    background-color: black;
    margin-top: 50px; 
    width: 200px;
    height: 200px
}
div a
{
    text-decoration: none;
    color: white
}
#buttons_container
{
    background-color: black;
    position: relative;
    font-size: 5vh;
    transform: translateX(-50%);
    left:50%;
    width: max-content;
}

#buttons_container a{

    padding: 4vh;

}
#png
{
    margin-top:05%;
    width: 99%;
    height: 600px;
}
h2
{
    margin-top: -30%;
    font-size: 7vh;      
    color: white; 
}
#me
{
    color: white;
    font-size: 4vh;

}
#jpg
{
    margin-top: 10%;
    width: 99%;
    height: 650px;
}
h3
{
    margin-top:-33%;
  color:black;
  font-size: 7vh;
}
#try
{
    font-size: 4vh;
    color:white;
}
#jbl
{
    margin-top: 20%;
    width: 99%;
    height: 700px;
}
h4
{
    margin-top: -35%;
    color: white;
    font-size: 5vh;
}
#pen
{
    font-size: 4vh;
    color: white;
}
#images
 {
     margin-top:05% ;
     width:50%;
     height:300px ;
 }

 .container {
    display: flex;
 }
